
    * {
  margin: 0; padding: 0; border: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.hero img{
 width: 95%;
 float:left;
}
.hero2 img{
    width: 100%;
    float: left;
   }
.hero3 img{
    width: 80%;
    float: left;
 }

html {
  scroll-behavior: smooth;
}

html, body, .page {
  height: auto;
  min-height: 100vh;
}

p {
  margin: 10px 0;
}

ul {
  margin: 20px;
}

.page {
  padding: 2em;
}
.wrapper {
    width: 80;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color:#fff;
    display: flex;
}

.wrapper article {
    position: absolute;
    width: 350px;
    top: 12%;
    right: 20px;
    background-color:rgb(44, 148, 174);
    padding: 10px;
    border-radius: 20px ;
    font-size: .8em;
}
.article {
    display: block;
}
#menu {
  background-color: black;
  color: #8861d6;
  line-height: 4em;
  padding: 0 1em;
  position: fixed;
  top: 0em;
  width: 100%;
}

#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
  color: #c3a5cd;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
}

#menu a:hover {
  color: #4861A2;
}

#menu div {
  display: inline-block;
}

.right {
  position: absolute;
  color: #f4f1f5;
  right: 100px;
}

h2 {
  font-size: 3em;
  padding-top: 1em;
  color: #f4f1f5;
  text-align: center;
}
h3 {
    font-size: 2em;
    color: #f4f1f5;
    position: absolute;
    padding-left: 1em;
    padding-top: 1em;
    text-align: center;
  }
  

#linkc {
    font-size: 1em;
    padding-top: 1em;
    color: #f4f1f5;
    text-align: left;
    position: absolute;
    right: 100px;
  }

#one { background-color: #c3a5cd; }
#two { background-color: #8a5d95; }
#three { background-color: #632b7f; }
#four { background-color: #b347f2; }



